<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>OnlineDetect</servlet-name>
        <servlet-class>web.OnlineDetect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnlineDetect</servlet-name>
        <url-pattern>/OnlineDetect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OfflineDetect</servlet-name>
        <servlet-class>web.OfflineDetect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfflineDetect</servlet-name>
        <url-pattern>/OfflineDetect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OneTrajectory</servlet-name>
        <servlet-class>web.OneTrajectory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OneTrajectory</servlet-name>
        <url-pattern>/oneTrajectory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DetectOneTrajectory</servlet-name>
        <servlet-class>web.DetectOneTrajectory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetectOneTrajectory</servlet-name>
        <url-pattern>/detectOneTrajectory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VisualizeTrajectory</servlet-name>
        <servlet-class>web.VisualizeTrajectory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisualizeTrajectory</servlet-name>
        <url-pattern>/visualTrajectory</url-pattern>
    </servlet-mapping>

</web-app>